body {
    background-color: black;
}

.search {
    padding: 20px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #fff;
}

.search__form {
    margin: auto;
    display: flex;
    width: 350px;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
}

.search__form > * {
  border: 0;
  padding: 0;
  background: #fff;
  line-height: 50px;
  font-size: 1rem;
  border-radius: 0;
  outline: 0;
}

.search__input {
    flex-basis: 350px;
    padding-left: 10px;
}

.search__btn {
    display: flex;
    background-color: #af1d1d;
    border: 0;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s;
}

.search__btn > svg {
    fill:#fff;
    width: 30px;
    height: 30px;
}

.search__btn:hover {
    background-color: #db5a5a;
}

/*GALLERY*/

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.photo-card a{
    display: block;
    width: 300px;
    height: 200px;
    margin-bottom: 5px;
}

.photo-card img{
    transition-duration: 1s;
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.photo-card img:hover {
    transform: scale(1.12);
}

.info {
    background-color: #fff;
    display: flex;
    justify-content: center;
    gap:15px;
    padding: 10px 0;
    border: 1px solid rgba(0, 0, 0, 0.14);
    border-radius: 5px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.info-item p {
    margin: 0;
}

.load-more {
    background-color: #af1d1d;
    border: 0;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s;
    margin: 20px auto;
    display: none;
    padding: 10px 40px;
}

.load-more:hover {
    background-color: #db5a5a;
}